<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; width: 100%; gap: 2em; flex-direction: column; margin-top: 5em;">


        <h1>ENROLL OR NOT TO ENROLL</h1>
      
        <iframe src="https://giphy.com/embed/udhR8Hh1YVM6Q" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen autoplay="false"></iframe>
    </div>
</body>
</html>


