.black-container {
    color: white;
    background-color: #0E0E0E;
    overflow: hidden;
}


.java-container {
    /* background-color: gray;  */
    display: flex;
    max-width: 1200px;
    padding: 20px;

    margin: 50px auto;
    position: relative;
    opacity: 0;
}


.java-text {
    /* background-color: black; */
    color: #F0D4AA;
    flex: 1;

    display: flex;
    justify-content: center;
    font-size: 17px;
    align-items: center;

}

.java-text_container{
    padding-bottom: 50px;
}

.java-text p{
    max-width: 408px;
    margin-top: 0.75em;
    color: #d7d7d7;
}

.java-video{
    /* background-color: rgb(161, 19, 19); */
    /* background-color: black; */
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.photo{
    width: 490px;
    height: 350px;
    background-image: linear-gradient(to bottom, #F2D6AC , rgba(14, 14, 14, 0.5));
    border-radius: 25px;
    position: relative;
}
.javoc {
    font-size: 70px;
}

.java-circle{
    width: 278px;
    height: 278px;
    background-image: linear-gradient(to bottom, #DEE7B1 , #F8D1AA);
    box-shadow: #BDAE91 0 -10px 100px 5px;

    border-radius: 50%;
    position: absolute;

    left: -250px;
    bottom: -65px;
}

.photo img {
    position: absolute;
    width: 500px;
    right: 10px;
    top: 25px;
}


/* python */


.python-container {
    /* background-color: gray;  */
    display: flex;
    max-width: 1200px;
    padding: 20px;
    opacity: 0;

    margin: 200px auto;
}

.python-text {
    color: #E8D6EF;
    flex: 1;

    display: flex;
    justify-content: center;
    font-size: 17px;
    align-items: center;
    margin-right: 1.5em;
}


.python-text p{
    max-width: 408px;
    color: #d7d7d7;
    margin-top: 0.75em;
   margin-left: 0.4em;
}
.python-video{
    /* background-color: rgb(161, 19, 19); */
    flex: 1;
    display: flex;
    justify-content: center;
   
}
.pythic {
    font-size: 70px;
    text-align: left;
    
}
.photo-python {
    width: 490px;
    height: 350px;

    /* border-radius: 25px; */
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    background-image: linear-gradient(to bottom, #efddf7,#efddf7a7,#efddf732, #15151600);
    position: relative;
}

.photo-python img {
    position: absolute;
    width: 500px;
    left: -20px;
    top: 25px;  
}

.python-video { 
    position: relative;
    z-index: 10;
}

.divLang {
    position: relative;
    margin-right: 3.5em;
}


/* .python-circle{
    width: 138px;
    height: 138px;
    background-image: linear-gradient(to bottom, #efddf7 , #e7e4e8);
    box-shadow: #efddf7  0 -10px 100px 5px;

    border-radius: 50%;
    position: absolute;

    

    left: -20em;
    top: -5em;
    z-index: 1;
} */





/* javascript */

.javascript-container {
    /* background-color: gray;  */
    display: flex;
    max-width: 1200px;
    padding: 20px;
    position: relative;
    opacity: 0;

    margin: 50px auto;
}
.javascript-text {
    /* background-color: black; */
    color: #F0D4AA;
    flex: 1;
    width: 654px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    align-items: center;

}

.javascript-text p{
    max-width: 418px;
    color:white ;
    margin-top: 0.75em;
    color: #d7d7d7;
    /* font-size: 18px; */
    padding-left: 1em;

}

.javascript-video{
    /* background-color: rgb(161, 19, 19); */
    /* background-color: black; */
    flex: 1;
    display: flex;
    justify-content: center;
}

.photo-javascript {
    width: 490px;
    height: 350px;
    background-image: linear-gradient(to bottom, #8ACD85 , #15151600);
    border-radius: 25px;

    position: relative;
}
.javascriptic {
    font-size: 70px;
    color: #8ACD85;
    padding-left: 0.2em;

}

.javascript-circle{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom, #8ACD85 , #8ACD85);
    
    box-shadow: #7da67a 0 0px 60px 1px;

    border-radius: 50%;
    position: absolute;
    right: 1em;
    top: -1em;
 
    z-index: 0;
}


.photo-javascript img {
    position: absolute;
    width: 500px;

    left: -20px;
    top: 25px;  
}