.logo {
    color: white;
    font-weight: 400;
    font-size: 27px;
}

/* NAVIGATION */

nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 3em;

    max-width: 1100px;
    margin: 1em auto 2em auto;
    
}

.nav-links ul {
    display: flex;
    gap: 2em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    /* padding: 0; */
}

.nav-links ul li {
    list-style: none;
    font-size: 18px;
    color: white;
}

.nav-cta button {
    /* background-color: rgb(135, 12, 12); */
    border: none;
    font-size: 16px;
    cursor: pointer;

    background-image: linear-gradient(to right, #EAD342, #EAD342, white, white);

    padding: 0.5em 1em;
    font-weight: 700;
}

.nav-logo .logo span {
    color: #EAD342;
}